<div>
  <table class="table">
    <thead>
      <tr>
        <th>Current Title</th>
        <th>Current Salary</th>
        <th>Change Reason</th>
        <th>Effective</th>
      </tr>
    </thead>
    <tbody>
      <% if @user.salary_histories.any? { |sh| sh.current_salary } %>
        <% @user.salary_histories.each do |salary_history| %>
          <% if salary_history.current_salary %>
            <tr>
              <td><%= salary_history.job_title %></td>
              <td>
                <details>
                  <summary>Salary</summary>
                  <%= salary_history.salary %>
                </details>
              </td>
              <td><%= salary_history.change_reason %></td>
              <td><%= salary_history.change_date %></td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">No current salary history available.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
