<div class="col-sm m-3">
  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Compensation</th>
          <th>Change Reason</th>
        </tr>
      </thead>
      <tbody>
        <% @title_history.each_index do |index| %>
          <tr>
            <td><%= @change_dates[index] %></td>
            <td><%= @title_history[index] %></td>
            <td><%= @compensation_history[index] %></td>
            <td><%= @change_reasons[index] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
